<div href="#" class="slat row align-middle collapse {{default classes ''}} {{default type 'word'}}" data-ref="{{default ref ''}}">
  <div class="slat-avatar item-avatar">
    {{> icons.icon-base icon=(fileIconName (default type 'word')) fill=(default type 'word') size="xlarge"}}
  </div>

  <div class="slat-body expand columns">
    <div class="rows"> <!-- slat-header -->
      <div class="columns small-12">
        <h3 class="slat-header">{{{default title 'List and description of investigators and sites - 234567 - 00000003548'}}}</h3>
      </div>
    </div>

    {{#if (default subtitle '16.1.4 List of Investigators')}}
      <div class="row slat-subtitle"> <!-- slat-title -->
        <div class="columns small-12">
          <p class="slat-title-wrapper">
            <span class="slat-subtitle-prefix">Title:</span>
            <span class="slat-subtitle-text">{{{default subtitle '16.1.4 List of Investigators'}}}</span>
          </p>
        </div>
      </div>
    {{/if}}

    <div class="row show-for-medium">
      <div class="columns small-12 medium-6">
        <p class="slat-attr-wrapper">
          <span class="slat-attr-key">{{{attr1.key}}}:</span>
          <span class="slat-attr-value">{{{attr1.value}}}</span>
        </p>
        <p class="slat-attr-wrapper">
          <span class="slat-attr-key">{{{attr2.key}}}:</span>
          <span class="slat-attr-value">{{{attr2.value}}}</span>
        </p>
      </div>

      <div class="columns small-12 medium-6">
        <p class="slat-attr-wrapper">
          <span class="slat-attr-key">{{{attr3.key}}}:</span>
          <span class="slat-attr-value">{{{attr3.value}}}</span>
        </p>
        <p class="slat-attr-wrapper">
          <span class="slat-attr-key">{{{attr4.key}}}:</span>
          <span class="slat-attr-value">{{{attr4.value}}}</span>
        </p>
      </div>
    </div>
  </div>

  <div class="slat-secondary columns shrink">
    {{> icons.icon-base icon=(default icon-secondary 'star') fill="darker-gray" size="sm-medium" classes="slat-secondary-icon"}}

    <span {{#if id }}data-toggle="virtual-document-slat-{{ id }}-dropdown"{{/if }} class="float-right slat-dropdown">
      {{> icons.icon-base icon="more-vert" fill="darker-gray" size="sm-medium" classes="slat-secondary-more"}}

      {{#if id }}
        {{> components.dropdown type="panel" classes="left" items=@root.dropdown.document-virtual-doc id=(concatMultiple "virtual-document-slat-" id "-dropdown") }}
      {{/if }}

    </span>

  </div>
</div>
