<div class="task-complete-message delegate">
  <h1 class="task-complete-message-header">
    Thanks, we’ll notify <span class="task-complete-message-header-delegatee">them</span> right away!
  </h1>

  <div class="task-complete-message-body delegate">
    <span class="photo-avatar task-complete-message-avatar">
      <img src="" />
    </span>
    <span class="task-complete-message-symbol delegate">
      {{> icons.icon-base icon="delegate" fill="green" size="medium"}}
    </span>

    <div class="task-complete-message-text delegate">
      <h4 class="task-complete-message-supertitle">Task Delegated To</h4>
      <h3 class="task-complete-message-title delegate"></h3>
    </div>
  </div>

  <h2 class="task-complete-message-footer">Select another task and take action</h2>
</div>
