<div class="task-complete-message reject">
  <h1 class="task-complete-message-header">Complete, you rejected the task</h1>

  <div class="task-complete-message-body reject">
    <span class="task-complete-message-symbol reject">
      {{> icons.icon-base icon="close-large" fill="pink" size="sm-medium"}}
    </span>

    <div class="task-complete-message-text">
      <h2 class="task-complete-message-title">Rejected</h2>
    </div>
  </div>

  <h2 class="task-complete-message-footer">Select another task and take action</h2>
</div>
