<div class="task-complete-message approve">
  <h1 class="task-complete-message-header">Thanks for your approval!</h1>

  <div class="task-complete-message-body approve">
    <span class="task-complete-message-symbol approve">
      {{> icons.icon-base icon="checkmark-large" fill="green" size="sm-medium"}}
    </span>

    <div class="task-complete-message-text">
      <h2 class="task-complete-message-title">Approved</h2>
    </div>
  </div>

  <h2 class="task-complete-message-footer">Select another task and take action</h2>
</div>
