<div class="header-bar viewer-bar">
  <div class="viewer-bar-content">
  	{{#if title }}
  		<span class="header-bar-icon viewer-bar-icon">
	      {{> icons.icon-base icon=(fileIconName (default type 'word')) fill=(default type 'word') size="xlarge"}}
	    </span>
		<span class="viewer-bar-title">Title</span>
  	{{/if }}

  	{{#if more-icon }}
	<div class="viewer-bar-more">
		<a class="button hollow secondary round-icon no-margin" href="#" data-toggle="virtual-document-dropdown">
		{{> icons.icon-base icon="more-vert" size="base"}}
		</a>

        {{> components.dropdown type="panel" items=dropdown.document-virtual-doc id="virtual-document-dropdown" }}
	</div>
  	{{/if }}

    {{#if title }}
      <a class="viewer-bar-close header-bar-close" data-sliding-panel-close href="#">
        {{> icons.icon-base icon="close-large" size="medium" }}
      </a>
    {{/if }}

  </div>
</div>
