@mixin caps-link {
  font-size: $t-delta;
  font-weight: $font-weight-semi;
  letter-spacing: rem-calc(.8);
  text-transform: uppercase;
}

.back-link {
  @include caps-link();
  @include scut-padding(rem-calc(16) n n n);
  display: block; 
  &:before {
  	content: '< ';
  }
}