.select-wrapper {
  position: relative;

  .ui-icon {
    left: 14px;
    position: absolute;
    top: 22px;
  }

  &.search {
    .select2-selection {
      background-image: none;
    }

    .select2-container--default {
      .select2-selection--single {
        .select2-selection__rendered {
          @include scut-padding(n n n rem-calc(28));
          font-weight: $font-weight-bold;
          font-size: 0.875rem;

          .select2-selection__placeholder {
            font-weight: $font-weight-normal;
          }
        }
      }
    }
  }
}

.select2 {
  width: 100% !important;
}

.select2-selection {
  @extend select;
  @include scut-padding(n rem-calc(14) n n);
  text-align: left;
}

.select2-container--default {
  .select2-selection--single {
    .select2-selection__rendered {
      @include scut-padding(0);
      line-height: normal;
    }

    .select2-selection__clear,
    .select2-selection__custom-clear {
      @include scut-padding(rem-calc(2) n n n);
      color: lighten($darker-gray, 32%);
      cursor: pointer;
      float: right;
      font-size: 0.75rem;
      font-weight: $font-weight-semi;
      letter-spacing: 0.6px;
      position: relative;
      text-transform: uppercase;
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      @include scut-margin(n n n rem-calc(34));
      border: 0;
      font-size: 0.875rem;
      font-weight: $font-weight-bold;
      position: absolute;
      top: -47px;
      width: 67%;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: lighten($lightest-gray, 3%);
    color: $dark-blue;
  }
}

.select2-container {
  .select2-selection--single {
    height: 3.25rem;
  }
}

.select2-selection__arrow {
  display: none;
}

.select2-dropdown {
  @include scut-margin(rem-calc(-6) n n n);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px $light-gray;
  border-radius: rem-calc(6);
}

.select2-results__options {
  border-radius: rem-calc(6);
}

.select2-results__option {
  @include scut-padding(0.75rem 1rem);
  color: $darker-gray;
  font-size: 0.75rem;
  font-weight: $font-weight-semi;

  &.search {
    @include scut-padding(rem-calc(13) rem-calc(11));
    border-top: 1px solid lighten($light-gray, 2%);
    color: lighten($black, 5%);
    font-size: 0.875rem;

    &[aria-selected=true] {
      @include scut-padding(n n n rem-calc(8));
      background-color: $light-blue-green;
      border-left: 3px solid $green;
    }
  }

  .photo-avatar {
    @include scut-margin(n rem-calc(22) n n);
    @include scut-size(rem-calc(36));
    display: inline-table;

    img {
      @include scut-size(rem-calc(36));
    }
  }
}
