.browse-search {
  @include flex-grid-row();
  @include scut-margin(1rem n n n);
}

.browse-stage {
  @include canvas;
  @include flex-grid-row();
  @include scut-margin(rem-calc(10) n n n);

  .layout-header,
  .full-header {
    background-color: transparent;

    .header-bar {
      @include scut-padding(rem-calc(4) n rem-calc(13) n);
    }
  }

  .header-bar-header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .pagination {
    display: none;
    z-index: 20;

    &.top {
      @include scut-margin(rem-calc(8) n n n);
      position: absolute;
      right: 1rem;
    }

    &.bottom {
      @include scut-margin(rem-calc(14) n n n);
      text-align: right;
    }
  }
}

.browse-slat-set {
  @include flex-grid-column(12);
}
