.dropdown-pane {
  @include scut-padding(0);
  @include bordered-arrow('top', 6px, 0.05 );
  border: 1px solid $lighter-gray;
  border-radius: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  color: $dropdown-color;
  font-weight: $font-weight-semi;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  z-index: 100;

  &.left {
    @include bordered-arrow('top', 6px, 0.96 );
  }

  &.right {
	  @include bordered-arrow('top', 6px, 0.90 );
  }

  &.sort {
    max-width: 105px;
  }

	&.user {
	  @include scut-margin(n 15px n n);
		top: 53px !important;

		&:before,
		&:after {
			left: initial;
			right: 14px;
		}

		& > ul {
	    & > li {
				& >	a {
					@include scut-padding(rem-calc(11) rem-calc(14));
					color: $dropdown-color;
					display: block;
					line-height: normal;

					&:hover {
						background-color: transparent;
						color: $primary;
					}
				}
			}
		}

		.dropdown-user-name,
		.dropdown-user-email {
			display: block;
		}

		.dropdown-user-email {
			color: $medium-dark-gray;
			font-size: 0.6875rem;
		}
	}

  .separator {
    @include scut-margin(rem-calc(6) 0);
    border-top: 2px solid $light-gray;
  }

  & > ul {
    font-size: inherit;

    & > li {

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $dropdown-hover-color;
      }

      & > a {
        @include scut-padding(rem-calc(15) rem-calc(16));
        font-size: rem-calc(12);
        white-space: nowrap;
        &.with-icon {
          @include scut-padding( rem-calc(7) n);
          align-items: space-between !important;
          justify-content: space-between !important;
          line-height: rem-calc(26);
        }
      }

      a,
      a:focus {
        color: $dropdown-color;
      }
      a:hover {
        color: $primary;
      }
      .dropdown-icon {
        @include scut-size( rem-calc(28) );
        border-radius: 51%;
        border: 1px solid $light-gray !important;
        float: right;
        line-height: rem-calc(30);
        text-align: center;

        svg {
          margin: 0px;
          width: rem-calc(13) !important;
          height: rem-calc(13) !important;
          use {
            fill: $darker-gray;
          }
        }
      }
    }
  }
}

a.dropdown-sort-toggle {
  font-weight: $font-weight-semi;
  letter-spacing: 0.5px;

  &,
  &:hover
  &:focus {
    color: $black;
  }
}

.dropdown-sort-value {
  color: $primary;
}
