.item-avatar {
  position: relative;

  &.is-circle {
    background-color: $darker-blue;
    border-radius: 50%;
    text-align: center;

    .ui-icon {
      vertical-align: baseline;
      line-height: 1;

      svg {
        vertical-align: top;
      }
    }
  }

  &.has-count {
    .count {
      @include absolute(0, 2px, 0, 0);
      text-align: center;
      font-style: normal;
    }
  }
}

.item-for-approval .item-avatar {
  use {
    fill: $darker-blue;
  }

  .count {
    color: $darker-blue;
  }
}

.item-for-review .item-avatar {
  use {
    fill: $secondary-color;
  }

  .count {
    color: $secondary-color;
  }
}

.item-revised .item-avatar {
  &.is-circle {
    background-color: $secondary-color;
  }
}

.item-approved .item-avatar {
  &.is-circle {
    background-color: $success-color;
  }
}

.item-rejected .item-avatar {
  &.is-circle {
    background-color: $alert-color;
  }
}

.item-added .item-avatar {
  &.is-circle {
    background-color: $success-color;
  }
}

.item-opened .item-avatar {
  &.is-circle {
    background-color: $darker-blue;
  }
}
